Makefile.in
aclocal.m4
autom4te.cache
compile
configure
depcomp
install-sh
missing
server
*.o
.deps
config.status
config.log
test-driver
*.log
*.trs
tests/protocol
tests/Makefile
src/Makefile
Makefile
